@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background-color: white;
}
*::-webkit-scrollbar-thumb {
  background-color: #A8A8A8;
  border-radius: 10px;
}


.logo {
  font-size: 26px;
  font-weight: 700;
}

.heading-h1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: 48pxF;
}

.heading-h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px;
}

.heading-h3 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
}

.heading-h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.heading-h5 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16.93px;
}

.body-p {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.body-pm {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.body-ps {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.body-input {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
